@import '../_font.scss';

.bannierre {
    display: flex;
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    background-image: url('../../../../public/assets/img/fleur_banniere.jpg');
    justify-content: flex-end;
    align-items: center;

    h2 {
        font-size: 2.5rem;
        color: #ffffff;
        font-family: 'montserrat', sans-serif;
    }

    p{
        font-size: 1rem;
        color: #ffffff;
        font-family: 'montserrat', sans-serif; 
    }

    button{
        font-size: 1rem;
        color: #ffffff;
        font-family: 'montserrat', sans-serif; 
        background-color: #221414;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        width: 200px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #ffffff;
            color: #000000;
        }
    }

    .text-container {
        border-radius: 15px;
        width: 500px;
        height: 300px;
        padding: 20px;
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
