@font-face {
    font-family: 'montserrat';
    src: url('../../../public/assets/fonts/Montserrat/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }